{% extends 'distribution/base.html' %}
{% load tags %}
{% block content %}
<div class="container-lg mt-5">
    <div class="row container">
        {% for object in object_list %}
        <div class="col-12">
            <div class="card mb-4 rounded-3">
                <div class="card-header py-3  text-center">
                        <h4 class="my-0 fw-normal">{{object.title}}</h4></a>
                </div>
                <div class="card-body">
                    <img src="{% media object.preview %}" class="card-img-top mb-2">
                    <p>{{object.content}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}