{% extends 'distribution/base.html' %}
{% block content %}
{% load static %}
{% load tags %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            </svg>
            <div class="container">
                <div class="carousel-caption text-start">
                    <img src="{% static 'img/tozhe.jpg' %}">
                    <h1>Бэкенд-разработчик</h1>
                    <p class="opacity-75">Я тоже своего рода</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'distribution:messages' %}">Создай сообщение</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            </svg>
            <div class="container">

                <div class="carousel-caption">
                    <img src="{% static 'img/ustal.jpg' %}">
                    <h1>Фронтенд</h1>
                    <p>Верстать этот ваш</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'distribution:clients' %}">Знай своего клиента</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            </svg>
            <div class="container">
                <div class="carousel-caption text-end">
                    <img src="{% static 'img/staralis.jpg' %}">
                    <h1>Старались</h1>
                    <p>Честно говоря, времени потрачено не мало</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'distribution:distributions' %}">Управляй рассылками</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container marketing">
    <div class="row">
        {% for object in object_list %}
        <div class="col-lg-4">
            <img src="{% media object.preview %}" class="card-img-top mb-2">
            <h2 class="fw-normal">{{object.title}}</h2>
            <p>{{object.content|string_slice}}</p>
            <p><a class="btn btn-secondary" href="{% url 'blog:blogs' %}">К нам в блог</a></p>
        </div>
        {% endfor %}
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h3 class="featurette-heading fw-normal lh-4">Количество рассылок всего</h3>
            <h1 class="featurette-heading fw-normal lh-1">
                <span class="text-body-secondary">{{distributions}}</span></h1>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/>
                <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h3 class="featurette-heading fw-normal lh-4">Количество активных рассылок</h3>
            <h1 class="featurette-heading fw-normal lh-1">
                <span class="text-body-secondary">{{distributions_active}}</span></h1>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/>
                <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h3 class="featurette-heading fw-normal lh-4">Уникальных клиентов</h3>
            <h1 class="featurette-heading fw-normal lh-1">
                <span class="text-body-secondary">{{clients_unique}}</span></h1>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/>
                <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock %}