{% extends 'distribution/base.html' %}
{% block content %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="{% url 'distribution:set_timezone' %}" method="POST">
            {% csrf_token %}
            <label for="timezone">
                Часовой пояс:
            </label>
            <select name="timezone">
                {% for tz in timezones %}
                {{ tz }}
                <option value="{{ tz }}"
                        {% if tz == TIME_ZONE %}
                        selected
                        {% endif %}>{{ tz }}
                </option>
                {% endfor %}
            </select>
            <input type="submit" value="Set">
        </form>
    </div>
</div>
{% endblock %}